# Игнорировать файлы с расширением .obj
*.obj

# Игнорировать исполнимые файлы .exe
*.exe

# Игнорировать файлы с расширением .layout
*.layout

# Игнорировать файлы с расширением .depend
*.depend

# Игнорировать папку /bin
/bin/
